# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Rider
.idea/
*.sln.iml

# ASP.NET temp files
*.log
*.vs/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# Vite
dist/

# VS Code
.vscode/

# Deployment
*.publish.xml

